body {
    font-family: sans-serif;
    text-align: center;
}

.portfolio-grid {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    gap: 20px; /* Adiciona um espaço de 20px entre os itens */
    padding: 20px;
}

.card {
    width: 250px; /* Largura de cada card de projeto */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}